
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: #333;
  color: #eee;
  font-size: 1.6em;
}
header {
  width: 100%;
  height: 700px;
  padding: 50px;
  background: url('../assets/images/header.Bkg.png') no-repeat center center;
}
  #logo {
  width: 160px;
  }
nav {
  width: 100%;
  height: 80px;
  background: #e5e5e5;
  text-align: center;
  padding-top: 17px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}
 a {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 700;
  color: #222;
  margin: 0 23px;
 }
 a:hover {
   color: #00f;
 }
main {
  width: 100%;
  height: auto;
  background: #aaa;
}
  #about {
    width: 100%;
    height: 700px;
    background: linear-gradient(to right, #0a2a88, #59cde9);
    padding: 50px 100px; /* t&b l&r */
  }
    #bioPic {
      float: left;
      max-width: 420px;
      border-radius: 16px;
      border: 4px solid #fff;
      margin-right: 50px;
    }
  #skills {
    width: 100%;
    height: 700px;
    background: linear-gradient(to right, #1cb5e0, #000046);
    padding: 50px 100px; /* t&b l&r */
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
  }
  #contact {
    width: 100%;
    height: 700px;
    background: linear-gradient(to right, #004e8f, #f7941e);
    padding: 50px 100px; /* t&b l&r */
  }
    #contactForm {
      padding: 20px;
      max-width: 60%;
      margin: 50px auto;
      border-radius: 8px;
      background: linear-gradient(to right, #f11712, #0099f7);
    }
    input, textarea {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    button {
      background: #3615f1;
      color: #fff;
      padding: 10px;
      border: none;
      width: 100%;
      border-radius: 4px;
      cursor: pointer;
    }
    .skill {
      width: 300px;
      height: 300px;
      background: #f8eaea;
      color: #c9c7f2;
      border: 1px solid #dd3b3b;
      border-radius: 8px;
      display: inline-block;
      margin: 25px;
      text-align: center;
    }
    .topSkill {
      background: #333;
      padding: 25px 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .bottomSkill {
      padding: 50px 25px;
    }
      .bottomSkill > i {
        font-size: 4em;
      }
footer {
  width: 100%;
  height: 200px;
  background: #777;
  margin-bottom: 100px;
  text-align: center;
  padding-top: 15px;
  font-style: italic;
  font-size: .9em;
  border-top: 1px solid #222;
  }